<div class="w-full h-screen" [ngStyle]="{background: 'url(../../assets/img/about_page_bg.png)'}">
  <Article class="w-full flex flex-row items-start prose text-center text-3xl text-white font-Aether">
    <div class="ml-4 mt-4 p-2 bg-[#562203] bg-opacity-50">
      <p class="opacity-100">
        Proyecto Elaborado por:
        <br/>
        Benjamín Alba Govea | 312972
        <br/>
        Aplicaciones Web Escalables | 224501
      </p>
    </div>
  </Article>
</div>

<!-- Add some more info !??!?!?! -->