<form 
  class="sm:w-2/3 w-full px-4 lg:px-0 mx-auto"
  *ngIf="!isSuccessful"
  name="form"
  (ngSubmit)="f.form.valid && onSubmit()"
  #f="ngForm"
  novalidate
>
  <div class="form-control">
    <div class="pb-2 pt-4">
      <input 
      type="text" 
      class="text-AQ-title block w-full p-4 text-lg rounded-sm bg-gray-100 hover:border hover:border-AQ-title"
      name="username"
      [(ngModel)]="form.username"
      required
      #username="ngModel"
      [ngClass]="{ 'is-invalid': f.submitted && username.errors }"
      placeholder="User name"
      />
    </div>
    <div *ngIf="username.errors && f.submitted">
      <div class="text-AQ-title" *ngIf="username.errors['required']">
        Username is required
      </div>
    </div>
  </div>

  <div class="form-control">
    <div class="pb-2 pt-4">
      <input 
      type="text"
      class="text-AQ-title block w-full p-4 text-lg rounded-sm bg-gray-100 hover:border hover:border-AQ-title"
      name="email"
      [(ngModel)]="form.email"
      required
      email
      #email="ngModel"
      placeholder="Email"/>
    </div>
    <div *ngIf="email.errors && f.submitted">
      <div class="text-AQ-title" *ngIf="email.errors['required']">
        Email is required
      </div>
      <div class="text-AQ-title" *ngIf="email.errors['email']">
        Email must be a valid email address
      </div>
    </div>
  </div>
  
  <div class="form-control">
    <div class="pb-2 pt-4">
      <input
      type="password"
      class="text-AQ-title block w-full p-4 text-lg rounded-sm bg-gray-100 hover:border hover:border-AQ-title"
      name="password"
      [(ngModel)]="form.password"
      required
      #password="ngModel"
      [ngClass]="{ 'is-invalid': f.submitted && password.errors }"
      placeholder="Password"
      />
    </div>
    <div *ngIf="password.errors && f.submitted">
      <div class="text-AQ-title" *ngIf="password.errors['required']">
        Password is required
      </div>
    </div>
  </div>
  <div class="text-right text-gray-400 hover:underline hover:text-gray-100">
      <a routerLink="/login" class="text-white lg:text-AQ-title hover:text-[#db4040]">Go to Login</a>
  </div>
  <div class="px-4 pb-2 pt-4">
      <button class="uppercase block w-full p-4 text-lg rounded-full bg-AQ-title hover:bg-[#db4040] focus:outline-none">sign up</button>
  </div>
  <div class="text-white lg:text-AQ-title hover:text-[#db4040]" *ngIf="f.submitted && isSignUpFailed">
    Signup failed! <br /> {{ errorMessage }}
  </div>
</form>
<div class="mt-4 text-white lg:text-AQ-title" *ngIf="isSuccessful">
  Your registration is successful!
</div>
<a routerLink="/login" class="text-white lg:text-AQ-title hover:text-[#db4040]" *ngIf="isSuccessful">
  Go to Login
</a>